/*
Syntax error: File to import not found or unreadable: pure.
              Load paths:
                D:/git-case/KSS/sass
                D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets
                D:/fire.app/lib/ruby/compass_extensions/compass-960-plugin-0.10.4/stylesheets
                D:/fire.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets
                D:/fire.app/lib/ruby/compass_extensions/compass-normalize-1.4.3/stylesheets
                D:/fire.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.2.1/vendor/assets/stylesheets
                D:/fire.app/lib/ruby/compass_extensions/susy-1.0.9/sass
                D:/fire.app/lib/ruby/compass_extensions/zurb-foundation-4.3.1/scss
                Compass::SpriteImporter
                D:/vendor/assets/stylesheets
        on line 1 of D:/git-case/KSS/sass/style.sass

1: D:/git-case/KSS/sass/style.sass

Backtrace:
D:/git-case/KSS/sass/style.sass:1
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/import_node.rb:67:in `import'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/import_node.rb:28:in `imported_file'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/import_node.rb:37:in `css_import?'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:217:in `visit_import'
org/jruby/RubyKernel.java:2109:in `send'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
org/jruby/RubyKernel.java:2109:in `send'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
org/jruby/RubyKernel.java:2109:in `send'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/tree/root_node.rb:20:in `render'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/engine.rb:315:in `_render'
D:/fire.app/lib/ruby/compass_0.13/sass-3.2.10/lib/sass/../sass/engine.rb:262:in `render'
file:/D:/fire.app/fire-app.jar!/compass_patch.rb:168:in `compile'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
file:/D:/fire.app/fire-app.jar!/compass_patch.rb:167:in `compile'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/logger.rb:46:in `red'
file:/D:/fire.app/fire-app.jar!/compass_patch.rb:166:in `compile'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/compiler.rb:124:in `compile_if_required'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/compiler.rb:109:in `run'
org/jruby/RubyArray.java:1620:in `each'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `run'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/compiler.rb:106:in `run'
D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/lib/compass/watcher/compiler.rb:24:in `compile'
org/jruby/RubyKernel.java:2105:in `send'
(__FORWARDABLE__):3:in `compile'
file:/D:/fire.app/fire-app.jar!/app_watcher.rb:42:in `watch!'
file:/D:/fire.app/fire-app.jar!/ui/tray.rb:514:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: pure.\A               Load paths:\A                 D:/git-case/KSS/sass\A                 D:/fire.app/lib/ruby/compass_0.13/compass-0.13.alpha.4/frameworks/compass/stylesheets\A                 D:/fire.app/lib/ruby/compass_extensions/compass-960-plugin-0.10.4/stylesheets\A                 D:/fire.app/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets\A                 D:/fire.app/lib/ruby/compass_extensions/compass-normalize-1.4.3/stylesheets\A                 D:/fire.app/lib/ruby/compass_extensions/bootstrap-sass-2.3.2.1/vendor/assets/stylesheets\A                 D:/fire.app/lib/ruby/compass_extensions/susy-1.0.9/sass\A                 D:/fire.app/lib/ruby/compass_extensions/zurb-foundation-4.3.1/scss\A                 Compass::SpriteImporter\A                 D:/vendor/assets/stylesheets\A         on line 1 of D:/git-case/KSS/sass/style.sass\A \A 1: D:/git-case/KSS/sass/style.sass"; }
